/****************Toggle****************/

.accordion-heading{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -1px;
    background: #fafafa;
    color: #444;
}

.accordion-heading:first-child {
    margin-top: 0px;
}

.accordion-heading {
    padding: 10px;
}

.accordion-heading a {
    display: block;
    color: #444;
    text-decoration: none;
}
.accordion-toggle.collapsed .toggle_icon {
    display: inline-block;
    float: left;
    padding: 1px;
    margin-right: 10px;
    margin-top: 0px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  -moz-transition:all .5s;
  -webkit-transition:all .5s;
  transition:all .5s;
}
.accordion-toggle .toggle_icon {
    -ms-transform: rotate(630deg); /* IE 9 */
    -webkit-transform: rotate(630deg); /* Chrome, Safari, Opera */
    transform: rotate(630deg);
    display: inline-block;
    float: left;
    padding: 1px;
    margin-right: 10px;
    margin-top: 0px;
    -moz-transition:all .5s;
  -webkit-transition:all .5s;
  transition:all .5s;
  
}
.accordion-heading a.active .toggle_icon {
    background-color: #F00
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 0px !important;
}
.accordion-body {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.accordion-heading {
border-bottom:  1px solid rgba(0, 0, 0, 0.1) !important;
}
.accordion-group {
    margin-bottom: -2px !important;
}
.accordion-inner ul,.accordion-inner li {
  list-style: circle;
}
.accordion-inner ul {
  margin-left: 2rem;
}
.accordion-inner ul li {
  margin-left: 1rem;
}
